<div class="container main center">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-7 col-centered content form">
      <h1>Meadowbox</h1>

      <p>
        We're still getting ready to open up shop, and we can't wait to show you our first product.
        Sign up to be first in line to order!
      </p>

      <%= form_for @user do |f| %>
        <div class="form-group">
          <label>First name</label>
          <%= f.text_field :first_name, placeholder: 'First name', class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Last name</label>
          <%= f.text_field :last_name, placeholder: 'Last name', class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Email</label>
          <%= f.text_field :email, placeholder: 'Email', class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= button_tag(class: 'buttn submit peach') do %>
            <i class='fa fa-envelope-o'></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
